[Desktop Entry]
Name=CRYPTOGRAM
Comment=Advanced OPSEC Messaging application with Double Ratchet E2EE and Post-Quantum Cryptography
TryExec=cryptogram-desktop
Exec=cryptogram-desktop -- %U
Icon=cryptogram
Terminal=false
StartupWMClass=Cryptogram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=cryptogram;chat;im;messaging;messenger;secure;opsec;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=cryptogram-desktop -quit
Name=Quit CRYPTOGRAM
Icon=application-exit
